---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - preview.previewd.io
  resources:
  - previewenvironments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - preview.previewd.io
  resources:
  - previewenvironments/finalizers
  verbs:
  - update
- apiGroups:
  - preview.previewd.io
  resources:
  - previewenvironments/status
  verbs:
  - get
  - patch
  - update
